[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YangEricLiu
[access "refs/for/refs/*"]
	read = group user/YangEricLiu
	push = group user/YangEricLiu
	label-Code-Review = -2..+2 group user/YangEricLiu
	label-Verified = -1..+1 group user/YangEricLiu
	rebase = group user/YangEricLiu
	removeReviewer = group user/YangEricLiu
	submit = group user/YangEricLiu
[access "refs/heads/*"]
	read = group user/YangEricLiu
	create = group user/YangEricLiu
	push = +force group user/YangEricLiu
	pushMerge = group user/YangEricLiu
[access "refs/tags/*"]
	push = +force group user/YangEricLiu
	pushTag = group user/YangEricLiu
	pushSignedTag = group user/YangEricLiu
